@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  color: #0f172a;
  background: #f8fafc;
}

.p-component {
  font-size: 0.875rem;
}
